@model DocumentStorage.Models.Document.DocumentViewModel

@using (Html.BeginForm("DownloadDocument", "Document", FormMethod.Post, new { role = "form" }))
{
    <tr>
        <td>@Html.DisplayFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Author)</td>
        <td>@Html.DisplayFor(m => m.CreationDate)</td>
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Author)
        @Html.HiddenFor(m => m.CreationDate)
        @Html.HiddenFor(m => m.File)
        <td><input type="image" src="~/Content/img/glyphicons-182-download-alt.png" border="0" alt="Download" /></td>
    </tr>
}
